pkgbase = lol-for-linux-installer
	pkgdesc = League of Legends installer and manager for Linux
	pkgver = 2.2
	pkgrel = 1
	url = https://github.com/kassindornelles/lol-for-linux-installer
	arch = x86_64
	license = GPL-3.0
	depends = python
	depends = python-psutil
	depends = python-pyqt5
	depends = wine
	depends = python-requests
	depends = qt5-base
	depends = tar
	depends = lib32-gnutls
	depends = gnutls
	depends = lib32-libldap
	depends = libldap
	depends = libpng
	depends = lib32-libpng
	depends = mesa
	depends = lib32-mesa
	depends = libgphoto2
	depends = libpulse
	depends = lib32-libpulse
	source = https://github.com/kassindornelles/lol-for-linux-installer/archive/refs/tags/v.2.2.tar.gz
	sha512sums = 01f9fbd1f61d132432ebe457e257bae7664b8f4caa3334a1dda29c86e5ae9a40704a6822eaa3a3f7fadf536ea12ca9b9aeccd5b1cab99144cba9b675092286ea

pkgname = lol-for-linux-installer
